//すべてのスタイルに共通する事項を取り決めるSCSSファイルです。
@import "/CSS/styles/variables";
section.top {
  display: grid;
  place-items: center;
  height: 100vh;
	div.top__wrapper {
    width: 600px;
		img.top__logo {
      width: 100%;
      margin: 0 auto 40px;
		}

/*============================
#top__btn-wrapper
============================*/
		div#top__btn-wrapper.top__btn-wrapper {
      display: grid;
      place-items: center;
/*============================
#top__btn
============================*/

		}
	}
}

/* スマホ用レスポンシブ======================*/
@media(max-width:670px){
  section.top {
    div.top__wrapper {
      width: 90%;
      img.top__logo {
        margin: 40px auto 80px;
      }
    }
  }
};
